.app-screen-header-title {
    font-size: 0.7em;
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.app-screen-header-title img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.app-screen-header-title.header-big {
    padding-top: 10px;
    padding-bottom: 10px;
}
.app-screen-header-title.header-small {
    padding-top: 5px;
    padding-bottom: 5px;
}
.app-screen-header {
    width: -webkit-fill-available;
    /* display: flex;
    flex-direction: column; */
}
.app-screen-footer {
    width: -webkit-fill-available;
    display: flex;
    height: 30px;
    min-height: 30px
}
.app-screen-body {
    width: -webkit-fill-available;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 180px;
}
.app-screen-header-navmenu, .app-screen-footer-navmenu {
    height: 30px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.app-header-navmenu-menu, .app-footer-navmenu-menu {
    border: none;
    background: none;
    cursor: pointer;
    flex-grow: 1;
    color: white;
}
.app-header-navmenu-menu.active, .app-footer-navmenu-menu.active {
    color: blue;
}
.app-sidebar {
    position: absolute;
    left: -180px;
    width: 180px;
    height: 258px;
    display: flex;
    transition: 1s;
    /* display: none; */
}
.app-sidebar.active {
    transition: 1s;
    left: 0px;
}
.app-sidebar-right {
    flex-grow: 1;
    cursor: pointer;
    width: 20px;
}
.app-sidebar-left {
    flex-grow: 6;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.app-detail {
    position: absolute;
    width: 180px;
    height: 258px;
    display: flex;
    transition: 0.2s;
    flex-direction: column;
    /* display: none; */
}
.app-detail.slide-right {
    right: -180px;
}
.app-detail.slide-left {
    left: -180px;
}
.app-detail.slide-top {
    top: -258px;
}
.app-detail.slide-bottom {
    bottom: -258px;
}
.app-detail.active {
    transition: 0.2s;
}
.app-detail.slide-right.active {
    right: 0px;
}
.app-detail.slide-left.active {
    left: 0px;
}
.app-detail.slide-top.active {
    top: 0px;
}
.app-detail.slide-bottom.active {
    bottom: 0px;
}
.app-detail .app-detail-header {
    display: flex;
    padding: 10px 5px;
    align-items: center;
    height: 20px;
    min-height: 20px;
    justify-content: space-between;
}
.app-detail .app-detail-header-left {
    display: flex;
    align-items: center;
}
.app-detail .app-detail-header-right button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}
.app-detail .app-detail-header-back-btn {
    background: none;
    border: none;
    cursor: pointer;
}
.app-detail .app-detail-header-title {
    font-size: 0.7em;
    text-align: center;
}
.app-detail .app-detail-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.app-screen-header-title i {
    margin: 3px;
}
.app-splash {
    background: red;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-splash img {
    width: 90px;
    height: 90px;
}

/* chat */
.chat-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    background-color: #849ec0;
    overflow-y: scroll;
}
.chat-body-item.chat-left {
    display: flex;
    margin-left: 5px;
    margin-bottom: 2px;
    min-height: 21px;
}
.chat-body-item.chat-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-bottom: 2px;
    min-height: 21px;
}
.chat-body-desc {
    color: white;
    font-size: 7px;
    display: flex;
    align-items: flex-end;
    margin-left: 3px;
    margin-right: 3px;
}
.chat-left .chat-body-text {
    color: black;
    font-size: 11px;
    background: white;
    padding: 4px 8px;
    border-radius: 10px;
}
.chat-right .chat-body-text {
    color: black;
    font-size: 11px;
    background: #b2ed8b;
    padding: 4px 8px;
    border-radius: 10px;
}